[Unit]
Description=The full function of UB OS Component
After=ub-pkg-urma.service ub-pkg-mem.service ub-pkg-virt.service
Requires=ub-pkg-urma.service ub-pkg-mem.service ub-pkg-virt.service

[Service]
Type=oneshot
ExecStart=/usr/local/ub-pkg-manager/bin/00-ub-pkg-manager.sh
StandardOutput=journal
StandardError=journal
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
