[Unit]
Description=The UnifiedBus Device Virtualization function of UB OS Component
After=ub-pkg-urma.service
Requires=ub-pkg-urma.service

[Service]
Type=oneshot
ExecStart=/usr/local/ub-pkg-manager/bin/03-ub-pkg-virt.sh
StandardOutput=append:/var/log/ub-pkg-manager.log
StandardError=append:/var/log/ub-pkg-manager.log
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target