[Unit]
Description=The UnifiedBus Pooled Memory function of UB OS Component
After=ub-pkg-urma.service
Requires=ub-pkg-urma.service

[Service]
Type=oneshot
ExecStart=/usr/local/ub-pkg-manager/bin/02-ub-pkg-mem.sh
StandardOutput=journal
StandardError=journal
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target